<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">user@mail.ru with roles:USER</a>
        <a class="nav-link text-white-50 pull-right" href="/logout" style="position:absolute; top:5px; right:5px;">logout</a>
    </nav>
</header>
<div class="container-fluid px-0" style="background-color: #ececec">
    <div class="row no-gutters vh-100">

        <div class="col-md-2  pt-3" style="background-color: #ffffff">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="/user" class="btn btn-primary btn-md btn-block rounded-0 active text-left" role="button"
                       aria-pressed="true">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 p-4">

            <h1>
                User information-page
            </h1>

            <div class="tab-content">
                <div class="card">
                    <div class="card-header">
                        <b>About User</b>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="u : ${user}">
                                <tr>
                                    <td th:text="${u.id}"></td>
                                    <td th:text="${u.username}"></td>
                                    <td th:text="${u.lastname}"></td>
                                    <td th:text="${u.age}"></td>
                                    <td th:text="${u.email}"></td>
                                    <td><span th:each="role:${u.roles}"><span th:text="${role.name == 'ROLE_ADMIN'} ? 'ADMIN ' : 'USER '"></span></span></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
